{% extends "layout.html" %}
{% block content %}
  <section class="section bg-gray">
        <div class="container">
          <div class="row gap-y align-items-center">

            <div class="col-md-6">
              <img src="../static/img/problem.png" alt="..." data-aos="fade-right">
            </div>

            <div class="col-md-5 ml-auto text-center text-md-left">
              <h2>The Problem</h2>
              <p>Traditional Market research (Focus Groups, Interviews, Polls, Surveys) has high cost, long lead times, and inherent bias. <b>Linear Labs</b> solves this problem by applying Artificial Intelligence to online conversational data.</p>

<!--               <div class="media align-items-center mt-7 text-left">
                <div class="mr-4">
                  <a class="btn btn-xs btn-circle btn-info" href="https://www.youtube.com/watch?v=ah4pcPbRi2M" data-provide="lightbox"><i class="fa fa-play"></i></a>
                </div>
                <div class="media-body">
                  <!-- <a class="small text-default text-uppercase mb-0" href="https://www.youtube.com/watch?v=ah4pcPbRi2M" data-provide="lightbox"><strong>Play The Video</strong></a> -->
                </div>
              </div> -->
            </div>

          </div>
        </div>
      </section>


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Trusted by
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section overflow-hidden">
        <div class="container">
          <div class="row gap-y align-items-center">

            <div class="col-md-5 mr-auto">
              <h2>Classification</h2>
              <p class="lead">Linear Labs groups conversations together, then builds sub-levels of conversation to better understand what is driving the original topic of conversation. </p>

              <p>At each level of conversation, Linear Labs is able to classify <b>375</b> Topics, <b>13</b> Emotions, <b>5</b> Age Groups, <b>3</b> Genders and Sentiment. This provides users granular insights into their consumers.</p>
            </div>


            <div class="col-md-6 mt-7 mt-md-0">
              <img src="../static/img/convolevel.png" alt="..." data-aos="fade-left">
            </div>

          </div>
        </div>
      </section>



      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Features
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section">
        <div class="container">
          <header class="section-header">
            <h2>Data Sources</h2>
          </header>


          <div class="row gap-y text-center">

            <div class="col-md-6 col-lg-3 py-6">
              <img src="../static/img/logo/reddit.png" alt="..." style="position: relative; float: left; width:  100px; height: 100px; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover;">
              <h6>Reddit</h6>
            </div>


            <div class="col-md-6 col-lg-3 py-6">
              <img src="../static/img/logo/instagram.jpg" alt="..." style="position: relative; float: left; width:  100px; height: 100px; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover;">
              <h6>Instagram</h6>
            </div>


            <div class="col-md-6 col-lg-3 py-6">
              <img src="../static/img/logo/twitter.jpg" alt="..." style="position: relative; float: left; width:  100px; height: 100px; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover;">
              <h6>Twitter</h6>
            </div>


            <div class="col-md-6 col-lg-3 py-6">
              <img src="../static/img/logo/tumblr.png" alt="..." style="position: relative; float: left; width:  100px; height: 100px; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover;">
              <h6>Tumblr</h6>
            </div>

            <div class="col-md-6 col-lg-3 py-6">
              <img src="../static/img/logo/youtube.jpg" alt="..." style="position: relative; float: left; width:  100px; height: 100px; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover;">
              <h6>Youtube</h6>
            </div>


            <div class="col-md-6 col-lg-3 py-6">
              <img src="../static/img/logo/facebook.png" alt="..." style="position: relative; float: left; width:  100px; height: 100px; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover;">
              <h6>Facebook</h6>
            </div>


            <div class="col-md-6 col-lg-3 py-6">
              <img src="../static/img/logo/othersources.png" alt="..." style="position: relative; float: left; width:  100px; height: 100px; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover;">
              <h6>Forums, News, Blogs</h6>
            </div>


          </div>
        </div>
      </section>


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Community
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section bg-fixed text-white" style="background-image: url(../static/img/horizon.jpg)" data-overlay="5">
        <div class="container">
          <div class="row">
            <div class="col-md-8 pt-10">

              <h2>On the Horizon</h2>
              <p class="lead-2">Linear Labs will launch a SaaS application and API in 2019. Stay Tuned.</p>

            </div>
          </div>
        </div>
      </section>


{% endblock %}